<div class="container-fluid">
    <header>
      <a href="/" class="menu-link">
        Notes
      </a>
      <form class="search-form" role="search" method="POST" action="/dashboard/search">
        <input type="search" name="searchTerm" class="search-input" placeholder="Search..." aria-label="Search">
      </form>
      <div class="menu-link logout">
        <a href="/logout" class="logout-link">Logout</a>
      </div>
    </header>
  </div>