<div class="custom-container">
    <div class="custom-row">
      <div class="custom-col">
        <nav aria-label="breadcrumb">
          <ol class="custom-breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">
              Add Note
            </li>
          </ol>
        </nav>
        <div class="custom-col-inner">
          <h1 class="custom-heading">Add  Note</h1>
        </div>
      </div>
    </div>
  
    <form action="/dashboard/add" method="POST">
      <div>
          <input type="text" class="custom-input" id="title" name="title" 
              placeholder="Title" required>
      </div>
  
      <div>
          <textarea class="custom-textarea" id="body" name="body" placeholder="Take a note..."
              rows="12" required></textarea>
      </div>
  
      <div>
          <button type="submit" class="updatebutton">+ Add Note</button>
      </div>
  </form>
  
  
  </div>
  
  
