<div class="cont404">
  <main>
    <div class="row404">
      <div class="col404">
        <img src="/img/Oops! 404.svg" alt="">
        <a href="/" class="btn404">Explore Notes</a>
      </div>
    </div>
  </main>
</div>