<div class="about">
    <header class="aboutHeader">
        <h5 id="aboutTitle">About Our Note Application</h5>
    </header>
<div class="about-container">
    <div class="image-container">
        <img src="/img/webdesign.gif" alt="">
    </div>

    <section class="about-content">
        <p>
            Welcome to our note-taking application. This app is designed to help you organize and manage your notes
            efficiently.
            Whether you're a student, a professional, or just someone looking to keep track of their thoughts, this app
            is here to assist you.
        </p>
        <p>
            Feel free to create, edit, and delete notes as needed. We strive to provide a simple and intuitive interface
            to enhance your note-taking experience.
        </p>
    </section>
</div>
</div>
