<div class="faq-container">
    <h1>Frequently Asked Questions</h1>
    <div class="faq">
        <div class="question">Q: How to open Dasboard</div>
        <div class="answer">A: firstly signin or signup after that click write Note button without singin dasboard page not be appear</button></div>
    </div>
    <div class="faq">
        <div class="question">Q: How can I create a new note?</div>
        <div class="answer">A: To create a new note,  click on the "Create Note" button and fill in the title and content.</div>
    </div>
    <div class="faq">
        <div class="question">Q: How can I delete a note?</div>
        <div class="answer">A: To delete a note, open the note and click on the "Delete" button.</div>
    </div>
    <div class="faq">
        <div class="question">Q: How can I search for notes?</div>
        <div class="answer">A: Use the search functionality to find notes by typing keywords or titles in the search bar.</div>
    </div>
    <div class="faq">
        <div class="question">Q: How can I update a note?</div>
        <div class="answer">A: To update a note, open the note and click on the "Edit" button. Make the necessary changes and click "Update".</div>
    </div>
</div>