<header >
    <h1 class="functionTitle"> Features of Note Application</h1>
</header>
<section class="features">
    <div class="feature">
        <h2>Feature 1: Create Notes</h2>
        <p>Create and store your notes with ease.</p>
    </div>
    <div class="feature">
        <h2>Feature 2: Edit Notes</h2>
        <p>Edit your notes anytime to keep them up to date.</p>
    </div>
    <div class="feature">
        <h2>Feature 3: Delete Notes</h2>
        <p>Delete unwanted notes securely.</p>
    </div>
    <div class="feature">
        <h2>Feature 4: Search Notes</h2>
        <p>Search your notes based on Title</p>
    </div>
</section>