<div id="container-frontpage">
    <main class="main-content">
        <div class="row">
            <div class="col">               
                <h1 class="home-title">
                    Welcome to QuickNotes    
                </h1>
                <p class="description">
                    Write your thoughts down as they come to you.Your personal space for organizing thoughts and ideas.
                    
                </p>
                <a href="/dashboard" class="btnfrontpage">Write Notes</a>
            </div>
            
            <div id="noteimage">
                <img src="/img/Taking notes.gif" alt="">
            </div>
            
        </div>
    </main>
</div>