@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Montserrat:wght@500&family=Mukta&display=swap');
.about{
    align-items: center;
    text-align: center;

}
.about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.aboutHeader{
    background-color: #6ac7e8;
    color: white;
    padding: 20px;
    flex: 1;
}

.image-container {
    margin-right: 20px;
    flex: 1;
    text-align: left;
}

.image-container img {
    max-width: 114%;
    height: auto;
    padding-bottom: 33px;
}

.about-content {
    flex: 1;
    padding: 20px;
    text-align: left;
}

#aboutTitle {
    font-size: 23px;
}
.about-content p{
    font-family: 'Mukta', sans-serif;
    margin-top: 0;
    margin-left: 6rem;
    color: #9dc600;
    font-size: 25px;
    opacity: 0; /* Initially set opacity to 0 */
    transform: translateX(-100%); /* Initially move the paragraph to the left */
    animation: slideIn 0.8s forwards; /* Apply the animation */
    
}
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-100%); /* Move the paragraph from the left */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Move the paragraph to its original position */
    }
}

