:root {
    --background-color:white;
    --bs-primary-rgb: #12296c;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
   
    font-weight: 300;
    font-size: 1.2rem;
   
  }


  h1,h2,h3,h4,h5,h6 {
    font-family: 'Unbounded', cursive;
    font-weight: 800;
  }
  
 
  

 
  
  
 
  
  /* Home */
  @media (min-width: 1200px) {
    .home {
      background: 
        url('../img/human-1.svg') left bottom no-repeat,
        url('../img/human-2.svg') right bottom no-repeat,
        url('../img/noise-bg.svg') left top repeat,
        var(--background-color);
      ;
    }
  }
  